<footer ui-view="footer" class="footer ng-scope" style="">
    <div class="container ng-scope">
    <div class="row text-center">
        <div class="col-md-12">
            
               <a href="">Privacy Policy</a> &nbsp; <a href="">Terms of Use</a>  &nbsp; &nbsp;&nbsp;
               <span class="copyright">Copyright © © 2016. vCIOPro. All Rights Reserved.</span> 
            
        </div>
       
    </div>
</div>
</footer>

<!--<footer class="footer">
    <div class="container">
        <span class="text-muted">Place sticky footer content here.</span>
    </div>
</footer>-->