
<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light ">
  <a class="navbar-brand" href="#"><img src="./assets/images/logo.png"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/home" >HOME <span class="sr-only"></span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="#">FEATURES</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="#">APP</a>
      </li>
      <li class="nav-item">
        <a class="nav-link "routerLink="/plans">PLANS AND PRICING</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
     
      <button class="btn btn-outline-success my-2 my-sm-0 " type="submit" routerLink="/login">SIGN IN</button>
     
    </form>
  </div>
</nav>
