<button type="button" class="btn btn-outline-primary" (click)="openModal(template)"><i class="fa fa-plus" aria-hidden="true"></i> &nbsp; ADD ORGANISATION</button>

<template #template>
    <form [formGroup]="complexForm" (ngSubmit)="submitForm(complexForm.value)">
    <div class="modal-header">
        <h4 class="modal-title pull-left">Add Organisation</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <input   class="form-control" type="text" placeholder="Organisation Name" [formControl]="complexForm.controls['OrgName']">
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <input   class="form-control" type="text" placeholder="Short Name" [formControl]="complexForm.controls['ShortName']">
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <input (keypress)="_CharacterOnly($event)"  class="form-control" type="text" placeholder="First Name" [formControl]="complexForm.controls['FirstName']">
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <input (keypress)="_CharacterOnly($event)"  class="form-control" type="text" placeholder="Last Name" [formControl]="complexForm.controls['LastName']">
                </div>
            </div>
        </div>

         <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <input (keypress)="_NumberOnly($event)"   class="form-control" type="text" placeholder="Phone Number" [formControl]="complexForm.controls['Phone']">
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <input  class="form-control" type="email" placeholder="Email" [formControl]="complexForm.controls['Email']">
                </div>
            </div>
        </div>

        



        <div class="form-group">
            <textarea  formControlName="Description" class="form-control txtarea" type="text" placeholder="Description" [formControl]="complexForm.controls['Description']"></textarea>
        </div>


        <div class="suru">
            <button class="btn btn-primary submit" [disabled]="!complexForm.valid" (click)="modalRef.hide()">Submit</button>
        </div>
        
    </div>

    </form>
    
</template>