<app-header></app-header>
<div class="plans">
<img src='/assets/images/1.jpg' style="width:1024px;height:200px;">
    <h1>PLANS & PRICING</h1>

    <div class="row">
        <div class="col-md-4">

            <div class="block personal fl " style="width:300px;">
                <h2 class="title">BASIC</h2>
                <!-- CONTENT -->
                <div class="content">
                    <p class="price">
                        <span>$</span>
                        <span>179</span>
                        <sub>/mo.</sub>
                    </p>

                </div>
                <!-- /CONTENT -->
                <!-- FEATURES -->
                <ul class="features">
                    <li><span class="fontawesome-check"></span>10 Organizations</li>
                    <li><span class="fontawesome-check"></span>1 Client portal access user per organization</li>
                    <li><span class="fontawesome-check"></span>1 Administrative access login credentials (user license)</li>
                    <li><span class="fontawesome-check"></span>Email/Phone support</li>
                    <a ui-sref="RegisterUsers({planid:1,trial:0})" class="btn btn-primary btn-sign" routerLink="/signup">Sign Up</a>
                    <a ui-sref="RegisterUsers({planid:19,trial:1})" class="btn btn-primary btn-border" href="#/Register/19/1/">Trial Account</a>
                </ul>
                <!-- /FEATURES -->
                <!-- PT-FOOTER -->
                <div class="pt-footer">
                    <p>&nbsp;</p>
                </div>
                <!-- /PT-FOOTER -->
            </div>
        </div>

        <div class="col-md-4">
            <div class="block professional fl " style="width:300px;">
                <h2 class="title">ENHANCED</h2>
                <!-- CONTENT -->
                <div class="content">
                    <p class="price">
                        <span>$</span>
                        <span>275</span>
                        <sub>/mo.</sub>
                    </p>

                </div>
                <!-- /CONTENT -->
                <!-- FEATURES -->
                <ul class="features">
                    <li><span class="fontawesome-check"></span>25 Organizations</li>
                    <li><span class="fontawesome-check"></span>3 Client portal access user per organization</li>
                    <li><span class="fontawesome-check"></span>3 Administrative access login credentials (user license)</li>
                    <li><span class="fontawesome-check"></span>Access Audit & Version Control</li>
                    <li><span class="fontawesome-check"></span>Data sources</li>
                    <a ui-sref="RegisterUsers({planid:1,trial:0})" class="btn btn-primary btn-sign" routerLink="/signup">Sign Up</a>
                    <a ui-sref="RegisterUsers({planid:19,trial:1})" class="btn btn-primary btn-border" href="#/Register/19/1/">Trial Account</a>
                </ul>
                <!-- /FEATURES -->
                <!-- PT-FOOTER -->
                <div class="pt-footer">
                    <p>&nbsp;</p>
                </div>
                <!-- /PT-FOOTER -->
            </div>
        </div>
        <div class="col-md-4">
            <div class="block business fl" style="width:300px;">
                <h2 class="title">PREMIER</h2>
                <!-- CONTENT -->
                <div class="content">
                    <p class="price">
                        <span>$</span>
                        <span>499</span>
                        <sub>/mo.</sub>
                    </p>

                </div>
                <!-- /CONTENT -->

                <!-- FEATURES -->
                <ul class="features">
                    <li><span class="fontawesome-check"></span>Unlimited Organizations</li>
                    <li><span class="fontawesome-check"></span>Unlimited Client portal access user per organization</li>
                    <li><span class="fontawesome-check"></span>Unlimited Administrative access login credentials (user license)</li>
                    <li><span class="fontawesome-check"></span>Email/Phone support</li>
                    <li><span class="fontawesome-check"></span>Basecamp3 Tool</li>
                    <li><span class="fontawesome-check"></span>Access Audit & Version Control</li>
                    <li><span class="fontawesome-check"></span>Chat Support</li>
                    <li><span class="fontawesome-check"></span>5 Data sources</li>
                    <li><span class="fontawesome-check"></span>Dedicated Account manager</li>
                    <li><span class="fontawesome-check"></span>White labeling</li>
                    <a ui-sref="RegisterUsers({planid:1,trial:0})" class="btn btn-primary btn-sign" routerLink="/signup">Sign Up</a>
                    <a ui-sref="RegisterUsers({planid:19,trial:1})" class="btn btn-primary btn-border" href="#/Register/19/1/">Trial Account</a>
                </ul>
                <!-- /FEATURES -->

                <!-- PT-FOOTER -->
                <div class="pt-footer">
                    <p>&nbsp;</p>
                </div>
                <!-- /PT-FOOTER -->
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="block dummy fl" style="width:300px;margin-left:200px;">
                <h2 class="title">DUMMY TEST</h2>
                <!-- CONTENT -->
                <div class="content">
                    <p class="price">
                        <span>$</span>
                        <span>452</span>
                        <sub>/mo.</sub>
                    </p>

                </div>
                <!-- /CONTENT -->

                <!-- FEATURES -->
                <ul class="features">
                    <li><span class="fontawesome-check"></span>25 Organizations</li>
                    <li><span class="fontawesome-check"></span>10 Client portal access user per organization</li>
                    <li><span class="fontawesome-check"></span>10 Administrative access login credentials (user license)</li>
                    <li><span class="fontawesome-check"></span>Basecamp3 Tool</li>
                    <li><span class="fontawesome-check"></span>Access Audit & Version Control</li>
                    <li><span class="fontawesome-check"></span>Chat Support</li>
                    <a ui-sref="RegisterUsers({planid:1,trial:0})" class="btn btn-primary btn-sign" routerLink="/signup">Sign Up</a>
                    <a ui-sref="RegisterUsers({planid:19,trial:1})" class="btn btn-primary btn-border" href="#/Register/19/1/">Trial Account</a>
                </ul>
                <!-- /FEATURES -->

                <!-- PT-FOOTER -->
                <div class="pt-footer">
                    <p>&nbsp;</p>
                </div>
                <!-- /PT-FOOTER -->
            </div>
        </div>

        <div class="col-md-6">
            <div class="block productdemo fl" style="width:300px;">
                <h2 class="title">PRODUCT DEMO PLAN</h2>
                <!-- CONTENT -->
                <div class="content">
                    <p class="price">
                        <span>$</span>
                        <span>899</span>
                        <sub>/mo.</sub>
                    </p>

                </div>
                <!-- /CONTENT -->

                <!-- FEATURES -->
                <ul class="features">
                    <li><span class="fontawesome-check"></span>100 Organizations</li>
                    <li><span class="fontawesome-check"></span>5 Client portal access user per organization</li>
                    <li><span class="fontawesome-check"></span>1 Administrative access login credentials (user license)</li>
                    <li><span class="fontawesome-check"></span>Email/Phone support</li>
                    <li><span class="fontawesome-check"></span>Basecamp3 Tool</li>
                    <li><span class="fontawesome-check"></span>Chat Support</li>
                    <li><span class="fontawesome-check"></span>White labeling</li>
                    <a ui-sref="RegisterUsers({planid:1,trial:0})" class="btn btn-primary btn-sign" routerLink="/signup">Sign Up</a>
                    <a ui-sref="RegisterUsers({planid:19,trial:1})" class="btn btn-primary btn-border" href="#/Register/19/1/">Trial Account</a>
                </ul>
                <!-- /FEATURES -->

                <!-- PT-FOOTER -->
                <div class="pt-footer">
                    <p>&nbsp;</p>
                </div>
               

                <!-- /PT-FOOTER -->
            </div>
             
        </div>
    </div>  
 